<div class="container">
  {{!-- Header --}}
  <div class="header">
    <h1 class="title">Tutorific</h1>
    <h3 class="sub-title">Learn. Teach. Get Paid.</h3>
  </div>
  {{!-- Body --}}
  <div class="row">
    <div class="col s6 m5">
      <div class="card-panel teal">
        <span class="white-text">Tutor Portal
        </span>
      </div>
    </div>

    <div class="col s6 m5">
      <div class="card-panel teal">
        <span class="white-text">Student Portal
        </span>
      </div>
    </div>
  </div>
</div>
{{!-- Footer --}}
<div class="footer">
  <p class="copyright">&copy; Copyright 2018</p>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>