<div class="wrapper bg">
  {{!-- Header --}}
  <div class="header">
    <h1 class="title"><i class="fas fa-graduation-cap"></i> Tutorific</h1>
    <h4 class="sub-title">Learn. Teach. Get Paid.</h4>
  </div>
  {{!-- Body --}}
  <div class="row main">
    {{!-- Tutor Card Panel --}}
    <div class="col s4 offset-s1">
      <a href="/tutors">
        <div class="card-panel orange lighten-2 hoverable" id="tutorPortal">
          <span class="white-text"><i class="fas fa-chalkboard-teacher"></i> Tutor Portal
          </span>
        </div>
      </a>
    </div>
  {{!-- Student Card Panel --}}
    <div class="col s4 offset-s1 push-s1">
      <a href="/students">
        <div class="card-panel light-blue lighten-2 hoverable" id="studentPortal">
          <span class="white-text"><i class="fas fa-book"></i> Student Portal
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
{{!-- Footer --}}
<footer class="page-footer index-footer-padding">
    <div class="row footer-fix center">
      <p class="col s12 copyright">&copy; Copyright 2018 
      </p>
    </div>  
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>