<div class="wrapper">
  {{!-- Header --}}
  <div class="header">
    <h1 class="title">Tutorific</h1>
    <h4 class="sub-title">Learn. Teach. Get Paid.</h4>
  </div>
  {{!-- Body --}}
  <div class="row main">
    {{!-- Tutor Card Panel --}}
    <div class="col s4 offset-s1">
      <a href="/tutors">
        <div class="card-panel" id="tutorPortal">
          <span class="white-text">Tutor Portal
          </span>
        </div>
      </a>
    </div>
  {{!-- Student Card Panel --}}
    <div class="col s4 offset-s1 push-s1">
      <a href="/students">
        <div class="card-panel" id="studentPortal">
          <span class="white-text">Student Portal
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
{{!-- Footer --}}
<div class="footer">
  <p class="copyright">&copy; Copyright 2018</p>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>