<div class="wrapper">
  {{!-- Header With Search--}}
  <div class="header">
    <div class="row search-margin">
      <div class="col s2">
        <a href="/">
          <img class="logo-img hoverable" src="/images/logo.png">
        </a>
      </div>
      <form>
        <div class="col s8 valign-wrapper input-field input-autocomplete">
          <div class="col offset-s1 s10">
            <div class="back-btn-margin white">
              <input type="text" id="search-name" class="autocomplete">
            </div>
          </div>
          <div class="col s2">
            <div class="row">
              <div class="col s6">
                <a class="btn waves-effect waves-light red accent-2 hoverable back-button back-btn-icon" onclick="goBack()"> <i class="fas fa-backward"></i></a>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light cyan lighten-2 hoverable" type="submit" id="submit-button"><i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>
  {{!-- Body --}}
  <div class="row">
    {{!-- Left Sidebar --}}
    <div class="col s2 tag-margin">
      <h6 class="center"><b>Choose a Subject</b></h6>
        <span class="topSearches"></span>
        <ul>
          {{#each topSearches}}
            <div class="row center sidebar-margin">
<<<<<<< HEAD
              <a class="waves-effect waves-light purple sidebar-btn btn hoverable">{{this.subjectName}}</a>
=======
              <a class="waves-effect waves-light purple sidebar-btn btn hoverable subjectBtn" name="{{this.subjectName}}">{{this.subjectName}}</a>
>>>>>>> 7de0a2e704e7da37f172fd1fdc68baa7f1c8d1c4
            </div>
          {{/each}}
        </ul>
    </div>
      {{!-- Center bar - Tutor Preview Column --}}
      <div class="col s8 tutor-col-margin">
        <p id="messageDisplay"></p>
        <div class="row">
          <div class="col s12">
            <div id="tutorPreview">
            </div>
          </div>
        </div>
        </div>
    {{!-- Right Sidebar --}}
    <div class="col s2 center">
      <img class="ad-margin"src="https://place-hold.it/150x500">
    </div>
  </div>
</div>

{{!-- Footer --}}
<footer class="page-footer">
    <div class="row footer-fix">
      <p class="col offset-s5 s2 copyright">&copy; Copyright 2018 
      </p>
      <div class="col offset-s2 s3 center button-fix">
      Tutor? Sign Up Here! &nbsp 
      <a href="/tutors" class="waves-effect waves-light tutor-button btn grey-text hoverable">Post a Lesson</a>
      </div>
    </div>  
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/students.js"></script>