<div class="wrapper">
  {{!-- Header --}}
  <div class="header">
    <h1 class="title tutor-h1-margin"><i class="fas fa-thumbtack"></i> Post A Lesson</h1>
  </div>

{{!-- Body --}}
  <div class="row">
    {{!-- Left Sidebar --}}
    <div class="col s3 white valign-wrapper">
      <div class="card-panel tutor-info-card">
        <h5><u><i class="fas fa-info-circle"></i> How it Works:</u></h5>
        <p>Become a Tutor In your area and start earning extra cash.</p>
        <br>
        <p>Simply fill out the card information to be contacted via email.</p>
        <br>
        <p><i>Don't forget to post your price!</i></p>
      </div>  
    </div>
      {{!-- Tutor Listing Card --}}
      <div class="col s7 white tutor-card-margin">
      <div class="col s12">
        <div class="card-panel" id="tutorForm">
          <div class="row">
            <form class="col s12">
              <div class="row form-margin">
                {{!-- Upload Picture --}}
                <div class="col s4 center upper-right-form-margin">
                  <div class="row">
                    <div class="col s12">
                      <img id="defaultPic" src="https://place-hold.it/150x150">
                    </div>
                    <div class="row">
                      <div class="col s6">
                        <div class="input-field">
                          <textarea id="tutor_url" class="materialize-textarea"></textarea>
                          <label for="tutor_url"><i class="fas fa-camera-retro"></i> Profile URL</label>
                        </div>
                      </div>
                      <div class="col s5">    
                        <div class="file-field input-field">
                          <div class="btn orange">
                            <span><i class="fas fa-download"></i></span>
                            <input type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
                {{!-- Fill Out Form --}}
                <div class="col s8">
                     <div class="row lower-tutor-card-margin">
                        <div class="input-field col s6">
                          <input id="tutor_first_name" type="text" class="validate">
                          <label for="tutor_first_name"><i class="fas fa-address-card"></i> First Name</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="tutor_last_name" type="text" class="validate">
                          <label for="tutor_last_name"><i class="fas fa-address-card"></i> Last Name</label>
                        </div>
                     <div class="row">
                        <div class="input-field col s12">
                          <input id="tutor_email" type="email" class="validate">
                          <label for="tutor_email"><i class="fas fa-envelope-square"></i> Email Address</label>
                        </div>
                        <div class="input-field col s12" id="tag">
                          <select multiple id="subject">
                              <option value="" disabled selected>Choose Your Area of Expertise</option>
                              <option value="1">Algebra</option>
                              <option value="2">CSS</option>
                              <option value="3">Economics</option>
                            </select>
                          <label><i class="fas fa-pencil-ruler"></i> Tutoring Subject(s)</label>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <textarea id="venmo" class="materialize-textarea"></textarea>
                  <label for="venmo"><i class="fas fa-money-check-alt"></i> @Venmo Name</label>
                </div>
                <div class="input-field col s6">
                  <textarea id="price" class="materialize-textarea"></textarea>
                  <label for="price"><i class="fas fa-dollar-sign"></i> xx/hr</label>
                </div>
              </div>
              <div class="row">
                 <div class="input-field col s12">
                  <textarea id="jobDescription" class="materialize-textarea"></textarea>
                  <label for="jobDescription"><i class="fas fa-align-left"></i> Job Description</label>
                </div>
              </div>
              <div class="row center">
                <button class="btn waves-effect waves-light hoverable orange" type="submit" name="action" id="postSubmit">Post Job
                <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{!-- Right Sidebar --}}
    <div class="col s2 white left">
      <img class="ad-margin"src="https://place-hold.it/150x500">
    </div>
  </div>
</div>
{{!-- Footer --}}
<footer class="page-footer">
    <div class="row footer-fix">
      <p class="col offset-s5 s2 copyright">&copy; Copyright 2018 
      </p>
      <div class="col offset-s1 s4 center button-fix">
      Student? Hire Tutors Here! &nbsp 
      <a href="/students" class="waves-effect waves-light light-blue btn">View Tutor Listings</a>
      </div>
    </div>  
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/tutorPost.js"></script>
