<div class="wrapper">
  {{!-- Header --}}
  <div class="header">
    <h1 class="title">Post A Lesson</h1>
  </div>

  {{!-- Body --}}
  <div class="main">
    {{!-- Tutor Form Description --}}
    <div class="row">
      <div class="col s6 offset-s3" id="tutorDescription">
        <p>Fill out the form below.<br>
        Give a brief description of you and your class subject.</p>
      </div>
    </div>
    {{!-- Tutor Form --}}
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card-panel" id="tutorForm">
          <div class="row">
            <form class="col s12">
              <div class="row">
                {{!-- Upload Picture --}}
                <div class="col s4">
                  <img id="defaultPic" src="../images/blank-profile.png">
                </div>
                {{!-- Fill Out Form --}}
                <div class="col s8">

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Footer --}}
<div class="footer">
  <p class="copyright">&copy; Copyright 2018</p>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
