/* Default */
* {
  margin: 0;
}

/* Creates a sticky footer */
 .wrapper {
  min-height: 100vh;
  /* max-width: 2560px;
  width: 100%;
  margin: 0; */
}
/* ---------------- */

/* Header */
.header {
  background-color: blue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  min-height: 200px;
}

h1 {
  margin-top: 0;
}

/* Main Content */
.main {
  margin-top: 50px;
  margin-bottom: 0;
}

/* Index Content */
#tutorPortal,
#studentPortal {
  text-align: center;
  min-height: 400px;
  line-height: 400px;
  font-size: 3em;
}

#tutorPortal {
  background-color: orange;
}

#studentPortal {
  background-color: skyblue;
}

#defaultPic {
  max-width: 200px;
  max-height: 200px;
}

/* Students page */

/* Header */
.input-autocomplete {
  margin-top: 40px;
}

/* Body */
.student-body {
  min-height: 800px;
}

.tutor-card {
  margin-top: 20px;
}

.tutor-img-fix {
  padding-left: 25px;
}

.sidebar-margin {
  padding-top: 20px;
}

.button-fix {
  margin-bottom: 15px;
}

.ad-margin {
  margin-top: 20px;
}

.listing-scroll {
  overflow-y: scroll;
  height: 600px;
  vertical-align: middle;
}

/* Footer */
.footer-fix {
  margin-bottom: 0px;
}

.page-footer {
  background-color: blue;
  min-height: 50px;
  line-height: 50px; 
}

