/* Default */
* {
  margin: 0;
}

/* Creates a sticky footer */
 .wrapper {
  min-height: 100vh;
}

.bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

hr {
  margin-top: 20px;
  margin-bottom: 5px;
}

/* ---------------- */

/* Header */
.header {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23bfacdd' fill-opacity='0.75'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: rgb(122, 60, 141);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  min-height: 200px;
}

h1 {
  margin-top: 0;
}

.drop-shadow {
    text-shadow: 4px 4px #000000;
}

/* Main Content */
.main {
  margin-top: 175px;
  margin-bottom: 0;
}

/* Index Content */
#tutorPortal,
#studentPortal {
  text-align: center;
  min-height: 150px;
  line-height: 150px;
  font-size: 3em;
}


#defaultPic {
  max-width: 200px;
  max-height: 200px;
}

/* Students page */

/* Header */
.input-autocomplete {
  width: 95%;
  margin-bottom: 0px;
}

/* Body */
.student-body {
  min-height: 800px;
}

.search-bg-height {
  height: 85px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.search-margin {
  margin-top: 30px;
}

.pay-margin {
  margin-bottom: 0px;
}

.sidebar-margin {
  padding-top: 20px;
}

.back-btn-margin {
  border-left: solid 3px purple;
  padding-left: 10px;
}

.preview-inner-top {
  margin-bottom: 20px;
  background-color: teal;
}

.sidebar-btn {
  width: 150px;
}

.tag-margin {
  margin-top: 30px;
}

.button-fix {
  margin-bottom: 15px;
}

.hourly-margin {
  margin-top: 20px;
}

.review-btn {
  background-color: rgb(122, 60, 141);
}

.ad-margin {
  margin-top: 50px;
}

.review-border {
  border-left: solid 5px rgb(122, 60, 141);
}

.listing-scroll {
  overflow-y: scroll;
  height: 600px;
  vertical-align: middle;
}

.btn-small {
  height: 20px;
  line-height: 20px;
  margin-top: 0px;
}

/* Footer */
.footer-fix {
  margin-bottom: 0px;
}

.page-footer {
  background-color: rgb(122, 60, 141);
  min-height: 50px;
  line-height: 50px;
}

.index-footer-padding {
  padding-bottom: 20px; 
}

/* Tutors page */

.tutor-h1-margin {
  margin-top: 30px;
}

.tutor-card-margin {
  margin-top: 40px;
}

.tutor-pic {
  border-radius: 25px;
  margin-top: 30px;
}

.taboola-pic {
  border-radius: 25px;
  margin-top: 30px;
}

.tutor-card {
  margin-top: 20px;
}

.tutor-img-fix {
  padding-left: 25px;
}

.tutor-col-margin {
  margin-top: 40px;
}

.form-margin {
  margin-bottom: 0px;
}

.url-margin {
  margin-top: 14px;
}

.tutor-info-card {
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgba(122, 60, 141, 0.548);
}

.lower-tutor-card-margin {
  margin-bottom: 0px;
}

.upper-right-form-margin {
  margin-left: 10px;
}

.purple-txt {
  color: rgba(122, 60, 141, 0.548);
}

/* Details page */

.description-text {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 150px;
}

.review-collapsible {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#tutorDetails {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.tutorPreviewMargin {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}
